<%- include('partials/header.ejs') %>
    <div class="cards">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="https://www.rd.com/wp-content/uploads/2021/03/GettyImages-1207490255-e1615485559611.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Rooms</h5>
              <p class="card-text"><li>Book Rooms</li>
              <li>Add New Rooms</li>
            <li>Get Room details</li>
            </p>
              <a href="rooms" class="homeBtn btn btn-primary">ROOMS</a>
            </div>
        </div>
        
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="https://cloudbeds-fcfc.kxcdn.com/wp-content/uploads/2020/01/istock-1086889670.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Guests</h5>
              <p class="card-text"><li>Add new guests</li><li>Get details of guests living in the hotel</li><li>Get details of previous guests</li></p>
              <a href="guests" class="homeBtn btn btn-primary">GUESTS</a>
            </div>
        </div>
        
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="https://parkwestgc.com/wp-content/uploads/2020/05/How-Hotels-Are-Helping-Their-Employees-Survive-the-Economic-Impact-of-COVID-19.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Employees</h5>
              <ul style="width: 80%;" class="card-text"><li>Add new employees</li><li>Get details of all employees working in the hotel</li></ul>
              <a href="employees" class="homeBtn btn btn-primary">EMPLOYEES</a>
            </div>
        </div>
    </div>
<%- include('partials/footer.ejs') %>